# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log

.DS_Store
/.vscode/
/converts/out/
/converts/library/
/out/
/library/
/librarys/
/dist/
node_modules/
/bin/lib/*
/bin/pdf2htmlEX.sh
/bin/pdf2htmlEX

# Cordova
/www/
/platforms/
/plugins/

# config
/config/
