# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/converts/out/
/converts/library/
/out/
/library/
/dist/
node_modules/
/bin/lib/*
/bin/pdf2htmlEX.sh
/bin/pdf2htmlEX

# Cordova
/www/
/platforms/
/plugins/
