[[source]]

url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "doubanio"


[packages]

requests = "*"
lxml = "*"
argparse = "*"
"pypdf2" = "*"
sanic = "*"
sanic-graphql = "*"
sqlalchemy = "*"
ipfsapi = "*"
aiomysql = "*"
aiopg = "*"
gunicorn = "*"
xmltodict = "*"
pyyaml = "*"
psutil = "*"
pyjwt = "*"
"aiosqlite3" = {file = "https://pypi.python.org/packages/bb/fe/5b64890c0d1cde3174d15392a203bf940339d7c5cc47079886e6e615750f/aiosqlite3-0.1.2-py3-none-any.whl"}
"jinja2" = "*"


[dev-packages]

