[[source]]

url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "doubanio"


[packages]

requests = "*"
lxml = "*"
argparse = "*"
"pypdf2" = "*"
sanic = "*"
"aiosqlite3" = "*"
sanic-graphql = "*"
sqlalchemy = "*"
ipfsapi = "*"
aiomysql = "*"
aiopg = "*"
gunicorn = "*"
xmltodict = "*"
pyyaml = "*"
apispec = "*"


[dev-packages]

