[[source]]

url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "doubanio"


[packages]

requests = "*"
lxml = "*"
argparse = "*"
"pypdf2" = "*"
sanic = "*"
sqlalchemy = "*"
aiomysql = "*"
aiopg = "*"
xmltodict = "*"
pyyaml = "*"
psutil = "*"
pyjwt = "*"
"jinja2" = "*"
pylint = "*"
"aiosqlite3" = "*"


[dev-packages]

pylint = "*"
pytest = "*"
