.btn
    font-size 1rem
    color #575757
    background-color #f7f7fa
    display inline-block
    font-weight 400
    text-align center
    cursor pointer
    outline 0 !important
    white-space nowrap
    border none
    user-select none
    padding 8px 12px
    border-radius 6px
    box-sizing border-box

.btn-default
    overflow hidden
    position relativ
    color #575757
    background-color #f7f7f
    transition color .2s linear, background-color .3s linear
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #e5e5ea

.btn-primary
    overflow hidden
    position relative
    color #fff
    background-color #34c3ff
    transition color .2s linear, background-color .3s linear
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #2792bf

.btn-primary, .btn-default
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        opacity 1
    &::after
        content ""
        display block
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-image radial-gradient(circle,#000 10%,transparent 10.01%)
        background-position 50%
        transform scale(10)
        opacity 0
        transition transform .5s, opacity 1s, transform .5s
    &:active:after
        transform scale(0)
        opacity .2
        transition 0s

.btn-link
    color #34c3ff
    background-color transparent
    transition color .2s linear
    border-radius 0

    &:hover,
    &:focus,
    &:active,
    &:active:focus
        color #2eabdf
        text-decoration underline

.btn-red
    color #fff
    background-color #f44336
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #d33b3f

.btn-orange
    color #fff
    background-color #ff9800
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #df8500

.btn-yellow
    color #fff
    background-color #ffca28
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #dfb123

.btn-green
    color #fff
    background-color #4caf50
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #439946

.btn-cyan
    color #fff
    background-color #00bcd4
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #00a5ba

.btn-blue
    color #fff
    background-color #2196f3
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #1d83d5

.btn-violet
    color #fff
    background-color #673ab7
    &:hover,
    &:focus,
    &:active,
    &:active:focus
        background-color #5a33a0

.btn-block
    width 100%
