.content
    overflow hidden
    background-color rgba(255, 255, 255, .5)
    border 1px solid transparent
    border-radius 4px
    box-shadow 0 1px 1px rgba(0, 0, 0, .5)
    position absolute
    width 15rem
    right 2rem
    top 2rem

.close
    width 100%
    overflow hidden
.body
    padding 1rem

.close_icon
    float right
    fill #000 !important
    height 1.5rem
    width 1.5rem
