.pf {
  position:relative;
  overflow: hidden;
  margin:0;
  border:0;
}
.pc {
  position:absolute;
  border:0;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  display:block;
  transform-origin:0% 0%;
}
.pc.opened {
  display:block;
}
.bf {
  position:absolute;
  border:0;
  margin:0;
  top:0;
  bottom:0;
  width:100%;
  height:100%;
  user-select:none;
}
.bi {
  position:absolute;
  border:0;
  margin:0;
  user-select:none;
}
.c {
  position:absolute;
  border:0;
  padding:0;
  margin:0;
  overflow:hidden;
  display:block;
}
.t {
  position:absolute;
  white-space:pre;
  font-size:1px;
  transform-origin:0% 100%;
  unicode-bidi:bidi-override;
}
.t:after {
  content: '';
}
.t:before {
  content: '';
  display: inline-block;
}
.t span {
  position:relative;
  unicode-bidi:bidi-override;
}
._ {
  display: inline-block;
  color: transparent;
  z-index: -1;
}
::selection{
  background: rgba(127,255,255,0.4);
}
::-moz-selection{
  background: rgba(127,255,255,0.4);
}
.pi {
  display:none;
}
.l {
}
.d {
  position:absolute;
  transform-origin:0% 100%;
}
.it {
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
}

.ir:hover {
  cursor: pointer;
}

.none {
  display: none;
}

.animated {
  animation-duration: 375ms !important;
}
/* #main, body, html{
  height: 100%;
  width: 100%;
} */
.svg_icon {
  fill: #fff;
  cursor: pointer;
}
.main {
  width: 100%;
  height: 100%;
}
hr {
  border-color: #2c8898;
}
form a {
  text-decoration: none;
  color: #2c8898;
}
form a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}

blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #2c8898;
}

img {
  max-width: 100%;
}
/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a;
}
input:focus, textarea:focus {
  border: 1px solid #2c8898;
}

textarea {
  width: 100%;
}

textarea:focus, select:focus, input[type]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

textarea, select, input[type] {
  box-sizing: border-box;
  display: block;
  /* width: 100%; */
  padding: .428rem .857rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* textarea, select, input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
} */
/* textarea:focus, select:focus, input[type]:focus {
  border: 1px solid #2c8898;
  outline: 0;
} */

label, legend, fieldset {
  font-weight: 600;
  padding-right: .5rem;
}
.bg {
  background:
		linear-gradient(45deg, hsla(31, 91%, 42%, 1) 0%, hsla(31, 91%, 42%, 0) 70%),
		linear-gradient(135deg, hsla(90, 91%, 42%, 1) 10%, hsla(90, 91%, 42%, 0) 80%),
		linear-gradient(225deg, hsla(178, 94%, 47%, 1) 10%, hsla(178, 94%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(324, 96%, 46%, 1) 100%, hsla(324, 96%, 46%, 0) 70%);
}

input:invalid { border-color: red; }
input, input:valid { border-color: #ccc; }
