
.toc_layout
    position absolute
    top 1%
    left 15%
    width 70%
    height 96%
    box-shadow 2px 2px 8px rgba(0,0,0,.2)
    z-index 10
    background-color #404040

@media screen and (max-width: 700px)
    .toc_layout
        left 10%
        width 80%

.toc_content
    position absolute
    top 2.5rem
    right 1rem
    bottom 1rem
    left 1rem
    overflow-y auto
    // top 30
    // position absolute
    // overflow-y auto

.toc_title
    border-bottom 1px solid #cbcbcb
    padding 0 1.15rem
    height 2.5rem
    width 100%
    box-sizing border-box
.toc_title p
    display inline-block
    color #FFF
    height 100% 
    text-align center
    float left
    font-size 1.25rem
    line-height 2.5rem
.toc_close
    float right
    margin-top 0.4rem
    display inline-block
    color rgba(255, 255, 255, 0.87)
    fill currentcolor
    height 1.7rem
    width 1.7rem
    box-sizing border-box

.content
    background-color #404040
    overflow auto
    width 100%
    height 100%


.theme_white.book_layout
    background-color #FFF

.pageHtml
    box-shadow inset 1px 0 0 hsla(0,0%,100%,.05)
.view
    position relative
    margin 0 auto
/*
银河白    #FFFFFF    RGB(255, 255, 255)

杏仁黄    #FAF9DE    RGB(250, 249, 222)

秋叶褐    #FFF2E2    RGB(255, 242, 226)

胭脂红    #FDE6E0    RGB(253, 230, 224)

青草绿    #E3EDCD    RGB(227, 237, 205)

海天蓝    #DCE2F1    RGB(220, 226, 241)

葛巾紫    #E9EBFE    RGB(233, 235, 254)

极光灰    #EAEAEF    RGB(234, 234, 239)
*/

.white > :global(.html_content)
    background-color #FFFFFF
.yellow > :global(.html_content)
    background-color #FAF9DE
.brown > :global(.html_content)
    background-color #FFF2E2
.red > :global(.html_content)
    background-color #FDE6E0
.green > :global(.html_content)
    background-color #E3EDCD
.blue > :global(.html_content)
    background-color #DCE2F1
.purple > :global(.html_content)
    background-color #E9EBFE
.gray > :global(.html_content)
    background-color #EAEAEF