.library
    overflow-y auto

.center_book
    width 156px
    height 284px
    float left
    margin 28px 45px 0
.book_image
    height 216px
    box-shadow 0 8px 8px 0 hsla(0,0%,100%,.1)
    border 2px solid #ccc
.book_image:hover
    border-color #1ec3d8

.book_image > img
    width 100%
    height 100%
.book_title
    display inline-block
    padding-left 1rem
    padding-right 1rem
    margin-top 1rem