<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">
    <meta name="buildTime" content="<%= htmlWebpackPlugin.options.buildTime %>">
    <title>zero-reader</title>
    <% if (htmlWebpackPlugin.options.config){%>
    <script type="text/javascript">
        window.projectConfig = <%= htmlWebpackPlugin.options.config %>;var e;(e=document.currentScript||document.scripts[document.scripts.length-1]).parentNode.removeChild(e);
    </script>
    <%}%>
</head>
<body>
    <div id="app"></div>
    <% if (htmlWebpackPlugin.options.isCordova){%>
    <script type="text/javascript" src="cordova.js"></script>
    <%}%>
    <% if (!htmlWebpackPlugin.options.isProd){%>
    <script>
        ;(function () {
            var src = 'https://cdn.bootcss.com/eruda/1.4.3/eruda.min.js';
            if (!/console=true/.test(window.location) && localStorage.getItem('active-eruda') != 'true'){
                return;
            }
            if ('eruda' in window) {
                eruda.init();
            } else {
                var script = document.createElement('script');
                script.setAttribute('src', src);
                script.onload = function() {
                    eruda.init();
                }
                document.head.appendChild(script);
            }
        })();
    </script>
    <%}%>
</body>
</html>